@model IEnumerable<RestaturanProje.Models.Rezervasyon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create">Rezervasyon Ekle</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Adı
            </th>
            <th>
                Mail
            </th>
            <th>
                Telefon
            </th>
            <th>
                Kişi
            </th>
            <th>
                Saat
            </th>
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sayi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saat)
                </td>
                <td>
                    @item.Tarih.ToShortDateString()
                </td>
                <td>

                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json",
            },
        });
    });
    </script>
}